:root {
  --pink: #f5f5eb;
  --pink-dark: #b5b5ac;
  --transparent: rgba(255, 255, 255, 0);
}

.pink {
  --card-color: var(--pink);
  --card-dark: var(--pink-dark);
  --shadow-size: 1px;
  --transparent: rgba(236, 178, 186, 0);
}

.blue {
  --card-color: #d5e0f9;
  --card-dark: #c2d0ea;
  --shadow-size: 3px;
  --transparent: rgba(213, 224, 249, 0);
}

.card {
  border: 10px;
  padding: 7%;
  position: relative;
  background: #f6f5ee;
  background: 
    linear-gradient(
      to bottom right,
      var(--card-dark),
      20%,
      var(--transparent)
    ),
    var(--card-color);
  min-width: 250px;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Caveat", cursive;
  font-size: 2rem;
  box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--card-dark);
  margin: auto;
  margin-top: 50px;
  border: solid 3px black;
}

.card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      var(--transparent),
      50%,

      var(--transparent)
    ),
    linear-gradient(
      to right,
      var(--transparent),
      50%,
      var(--card-dark),
      51%,
      var(--transparent)
    );
}
